<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="container-fluid">

  <!-- header start -->
  <header>
    {{ partial "header.html" . }}
  </header>
  <!-- header end -->

  <!-- arrows start -->
  {{ partial "arrows.html" . }}
  <!-- arrows end -->

  <!-- main start -->
  <main class="main-margin">
    {{ block "main" . }}{{ end }}
  </main>
  <!-- main end -->

  <!-- footer start -->
  <footer class="footer-margin">
    {{ partial "footer.html" . }}
  </footer>
  <!-- footer end -->

</body>
</html>
