<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>

  <!-- preloader -->
  {{ partial "preloader.html" . }}
  <!-- preloader end -->

  <!-- header start -->
  <header>
    {{ partial "header.html" . }}
  </header>
  <!-- header end -->

  <!-- main start -->
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <!-- main end -->

  <!-- footer start -->
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  <!-- footer end -->

</body>
</html>
