{{ define "main" }}
  {{ .Content }}

<!-- Arrows start -->
  <div class="arrows-navigation d-none d-md-block">
    <a href="/contact"><i class="fa-solid fa-chevron-left fa-3x arrow-left"></i></a>
  </div>

  <div class="arrows-navigation d-none d-md-block">
    <a href="/logos"><i class="fa-solid fa-chevron-right fa-3x arrow-right"></i></a>
  </div>
<!-- Arrows end -->
 
<!-- Video start -->
  <section class="video-section">
    <div id="video-wrapper">
      <video autoplay="" muted="" loop="" id="myVideo" preload="auto"></video>
    </div>
    <div>
        <p class="arrow-box">
          <a class="arrow-name" href="#start">Read More</a><br>
          <a class="arrow-link" href="#start"><i class="fa-solid fa-angle-down fa-3x"></i></a>
        </p>
    </div>
  </section>
<!-- Video end -->

  <div id="start">
    <div class="container">

      <div class="row">
        <img class="col-xl-4 col-md-6 col-sm-12" src="/images/logos/inexorablez-01.png" alt="inexorablez-logo-01">
        <p class="logo-text col-xl-8 col-md-6 col-sm-12">test.....</p>
      </div>
    
      <div class="row">
        <p class="image-text col-xl-8 col-md-6 col-sm-12">ödflöölfl</p>
        <img class="col-xl-4 col-md-6 col-sm-12" src="/images/photos/sydney-palm.png">
      </div>

    </div>
  </section>

{{ end }}
