{{ define "main" }}
  {{ .Content }}

<!-- Arrows start -->
  <div class="arrows-navigation d-none d-md-block">
    <a class="arrows-fade" href="/contact"><i class="fa-solid fa-chevron-left fa-4x arrow-left "></i></a>
  </div>

  <div class="arrows-navigation d-none d-md-block">
    <a class="arrows-fade" href="/logos"><i class="fa-solid fa-chevron-right fa-4x arrow-right"></i></a>
  </div>
<!-- Arrows end -->
 
<!-- Video start -->
  <section class="video-section">
    <div id="video-wrapper">
      <video autoplay="" muted="" loop="" id="myVideo" preload="auto"></video>
    </div>
    <div class="d-none d-md-block">
        <p class="arrow-box">
          <a class="arrow-name" href="#start">Read More</a><br>
          <a class="arrow-link" href="#start"><i class="fa-solid fa-angle-down fa-3x"></i></a>
        </p>
    </div>
  </section>
<!-- Video end -->


<!-- logos, photos and sketches-->
 <section>
    <div class="container-fluid">

      <section class="row">
        <h1 class="home-title col-12">Some of my works</h1>
      </section>

      <section class="row spotlight">
        <h2 class="home-examples ">Logos</h2>
        <p class="home-paragraph col-xl-7 col-md-6 col-sm-12">I am a dummy.. wohooooooooo</p>
        <img class="home-logo col-xl-5 col-md-6 col-sm-12" src="/images/logos/inexorablez-01.png" alt="inexorablez-logo-01">
      </section>
    
      <section class="row spotlight flex-column-reverse flex-md-row">
        <img class="sydney-palm-padding col-xl-5 col-md-6 col-sm-12" src="/images/photos/sydney-palm.png">
        <p class="home-paragraph col-xl-7 col-md-6 col-sm-12">I am not a dummy nooooooooooo</p>
        <h2 class="home-examples">Photos</h2>
      </section>

      <section class="row spotlight">
        <h2 class="home-examples">Sketches</h2>
        <p class="home-paragraph col-xl-7 col-md-6 col-sm-12">I am a not sure dummy......</p>
        <img class="home-sketches col-xl-5 col-md-6 col-sm-12" src="/images/sketches/kz.png">
      </section>

    </div>
  </section>

{{ end }}
