{{ define "main" }}
  {{ .Content }}

<!-- Arrows start -->
  <div class="arrows-navigation d-none d-md-block">
    <a class="arrows-fade" href="contact"><i class="fa-solid fa-chevron-left fa-4x arrow-left "></i></a>
  </div>

  <div class="arrows-navigation d-none d-md-block">
    <a class="arrows-fade" href="logos"><i class="fa-solid fa-chevron-right fa-4x arrow-right"></i></a>
  </div>
<!-- Arrows end -->
 
<!-- Video start -->
  <section class="video-section">
    <div id="video-wrapper">
      <video autoplay="" muted="" loop="" id="myVideo" preload="auto"></video>
    </div>
    <div>
        <p class="arrow-box">
          <a class="arrow-name" href="#start">READ MORE</a><br>
          <a class="arrow-link" href="#start"><i class="fa-solid fa-angle-down fa-3x"></i></a>
        </p>
    </div>
  </section>
<!-- Video end -->

<!-- logos, photos and sketches -->
 <section>
    <div class="container-fluid">

      <section class="row">
        <h1 id="start" class="home-title col-12">Some of my <b><i>work</i></b></h1>
      </section>

      <section class="row spotlight g-0">
        <div class="col-xl-2"></div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-background">
          <h2 class="home-examples ">Logos</h2>
          <p class="home-paragraph"><i>I am a dummy.. wohooooooooo</i></p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <a class="home-logo" href="logos">
            <img class="img-fluid" src="/images/logos/inexorablez-01.png" alt="inexorablez-logo-01">
          </a>
        </div>
        <div class="col-xl-2"></div>
      </section>
    
      <section class="row spotlight flex-row-reverse g-0">
        <div class="col-xl-2"></div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-background">
          <h2 class="home-examples">Photos</h2>
          <p class="home-paragraph"><i>I am not a dummy nooooooooooo</i></p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          {{ $logicalPath := "/fotos" }}
          {{ with site.GetPage $logicalPath }}
          <a class="sydney-palm-padding" href="{{ .RelPermalink }}">
            <img class="img-fluid" src="/images/photos/sydney-palm.png">
          </a>
          {{ else }}
          {{ errorf "Unable to get page %s" $logicalPath }}
          {{ end }}
          </a>
        </div>
        <div class="col-xl-2"></div>
      </section>

      <section class="row spotlight g-0">
        <div class="col-xl-2"></div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-background">
          <h2 class="home-examples">Sketches</h2>
          <p class="home-paragraph"><i>I am a not sure dummy......</i></p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <a class="home-sketches " href="sketches">
            <img class="img-fluid" src="/images/sketches/kz.png">
          </a>
        </div>
        <div class="col-xl-2"></div>
      </section>

    </div>
  </section>


  <section id="contact-section" class="row">
    <div>
      <h2 class="contact-header">Don't be <b>shy</b>. <i>Say</i> <span class="contact-color"><u>Hello!</u></span></h2>
    </div>

    <!-- fabform -->
    <div class="col-xl-3"></div>
      <form id="contact-form" class="col-xl-6 col-lg-8 col-md-6 col-sm-12" action="https://fabform.io/f/insert-later" method="post">
        <div class="mb-3">
          <input id="name" class="form-control" name="name" type="text" placeholder="First Name" required>
        </div>
        <div class="mb-3">
          <input id="lastname" class="form-control" name="lastname" type="text" placeholder="Last Name" required>
        </div>
        <div class="mb-3">
          <input id="email" class="form-control" name="email" type="email" placeholder="Email" required>
        </div>
        <div class="mb-3">
          <input id="phone" class="form-control" name="phone" type="text" placeholder="Phone Number">
        </div>
        <div class="mb-3">
          <select class="form-control" id="reason" name="reason" required>
            <option value="" disabled selected value>Your Reason</option>
            <option value="gd">Graphics Design</option>
            <option value="wd">Web Design</option>
          </select>
        </div>
        <div class="mb-3">
          <textarea id="message" class="form-control" name="message" placeholder="your message..." rows="6" required></textarea>
        </div>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-outline-success" type="button">Send</button>
          <button type="reset" class="btn btn-outline-danger">Clear</button>
        </div>
        <div class="col-xl-3"></div>
      </form>
  </section>
<!-- fabform end -->


{{ end }}