.site-navigation{
    background-color: black;
}

.site-navigation, .navbar-brand{
    color: white !important;
}

#logo-icon {
    margin-top: -6px;
    /*content: url('/images/logo-white.png');
*/
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #00b4ff !important;
}