/**********************************************
  Kettenbeil.com
  main.css
**********************************************/

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f4f4f4;
}

.main-margin {
  margin: 0 -12px;
}

.footer-margin {
  margin: 0 -12px;
  text-align: center;
}

.row {
  background-color: #f4f4f4 !important;
}


/********************************************
* Preloader
*********************************************/

.loader-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1021;
}

.loader {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 160px;
  height: 160px;
  background-image: url(/images/loader_small.svg);
  background-repeat: no-repeat;
  z-index: 1022;
  -webkit-animation: fadein 2s infinite;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s infinite;
}

@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/***********************************************
  Navbar
***********************************************/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav.navbar {
  background-color: rgba(0, 0, 0);
}

.navbar-nav {
  margin-left: 35px;
}

/*
.navbar, .navbar-expand-lg {
  background-color: rgba(0, 0, 0);
}
*/

.navbar-brand {
  font-size: 1.8rem;
  text-shadow: 10px 0px 20px rgb(0, 162, 255),
               10px 0px 20px rgb(0, 162, 255);
}

.navbar-brand:link {
  color: white;
}

.navbar-brand:visited {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.brand-name {
  color: rgb(0, 162, 255);
}

.brand-logo {
  padding-bottom: 12px;
  text-shadow: 1px 1px 2px black,
               0 0 25px rgb(0, 162, 255),
               10px 0px 20px #004f7c;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:visited {
  color: white;
}

.nav-link:hover {
  color: white;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(173, 173, 173);
}

.navbar-toggler {
  color: rgb(0, 162, 255);
  border: solid rgb(0, 162, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%280, 162, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}


.navbar-nav li {
  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  /*text-transform: uppercase;*/
  text-shadow: 10px 0px 20px rgb(0, 162, 255),
               10px 0px 20px rgb(0, 162, 255);
               /*0 20px 20px rgb(0, 162, 255),
               0 20px 20px rgb(0, 162, 255),
               0 20px 20px rgb(0, 162, 255);*/

  /*transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  */
}


a{ 
  color:#561cf6;
  text-align: center;
  cursor: pointer;
  position:relative;
  text-decoration:none;
}

.spanLeft{
  position: absolute;
  left:-7px;
  opacity:0;
  transition:0.25s;
}

.spanRight{
  position: absolute;
  right:-7px;
  opacity:0;
  transition:0.25s;
}

.nav-link:hover .spanLeft {
  position: absolute;
  left:-10px;
  opacity:1;
  color: rgb(0, 162, 255),
}

.nav-link:hover .spanRight {
  position: absolute;
  right:-10px;
  opacity:1;
  color: rgb(0, 162, 255),
}

.navbar-vertical-language {
  opacity: 0;
  color: #7b7b7b;
  height: 0;
}

.hr-navigation {
  opacity: 1;
  color: white;
  margin-top: 18px;
  margin-left: -36px;

}

.language-item {
    margin-bottom: 10px;
    margin-top: -24px;
}


/*******************************************************
  Home (Background)
*******************************************************/

#video-wrapper {
  background: url(/images/backgrounds/background.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -2;
}

video {
  display: inline;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: .6;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.video-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-left {
  position: fixed;
  top: 50%;
  left: 0;
  color: black;
  background-color: rgb(0, 162, 255);
  z-index: 1;
}

.arrow-right {
  position: fixed;
  top: 50%;
  right: 0;
  color: black;
  background-color: rgb(0, 162, 255);
  z-index: 1;
}

.arrow-box {
  position: absolute;
  bottom: 2%;
  left: 37% !important;;
  text-align: center;
}

.arrow-link {
  color: white 
}

.arrow-name {
  color: white;
  font-size:large;
  text-decoration: none;
}

.home-examples {
  font-size: 1.8rem;
  text-align: center;
  color: white;
  background-color: #2e3842;
  margin: 0;
  padding: 10px;
}

.spotlight {
  padding: 0px 0px 15px 0px;
}

.home-paragraph {
  text-align: center;
  background-color: #2e3842;
  color: white;
  margin: 0;
  padding: 0 0 10px 0;
}

.home-title {
  text-align: center;
  font-size: 3rem;
  color: black;
  background-color: #f4f4f4;
  padding: 75px 15px 10px 15px;
}

.col-background {
  background-color: #f4f4f4;
}

/********************************
  footer
********************************/

footer {
  margin-top: 50px;
  padding-top: 50px;
  background-color: black !important;
}

.footer-row{
  background-color: black !important;
}

.footer-logo {
  text-align: center;
  padding-bottom: 50px;
}

.footer-head {
  color: white;
  padding-top: 10px;
}

.footer-links {
  padding-left: 0px;
}

.footer-list {
  padding-bottom: 12px;
  list-style-type: none;
}

.footer-list a {
  color: #707070;
}

.footer-imprint {
  background-color: black;
  margin-top: 50px;
  padding-bottom: 50px;
}

.copy-right {
  color: #707070;
}

.copy-imprint a {
  color: white;
}


/********************************
  Contact - Form
********************************/

#contact-section {
  background-color: white;
}

#contact-form {
  background-color: white !important;
  padding-bottom: 50px;
  margin: 15px 0 0 0;
  padding-top: 25px;
}

.form-control {
  background-color: #f4f4f4;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: white;
  border-radius: 0;
  border-color: rgb(0, 162, 255);
  font-size: 1.2rem;
}

.form-label {
  padding-top: 10px;
}

.contact-header {
  padding: 45px 10px 40px 10px;
  font-size: 3rem;
  text-align: center;
}

.contact-text {
  text-align: center;
  font-size: 1.5rem;
}

.contact-color {
  color: rgb(0, 162, 255);
}

.button-group {
  background-color: white !important;
}

.form-buttons {
  margin: 0px 0px 0px 10px;
}

.btn-outline-success {
  background-color: rgb(0, 162, 255);
  color: white;
  border-color: rgb(0, 162, 255);
}






/********************************
  media Queries
********************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .arrow-box {
    left: 44% !important;

  }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  .col-background {
    background-color: #2e3842;
  }

  .home-title {
    padding: 75px 15px 20px 15px;
  }

  .form-buttons {
    margin: 15px -5px 15px 10px;
    font-size: 1.5rem;
  }


}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  nav.navbar {
    background-color: rgba(0, 0, 0, 0);
    padding: 1.5rem 0;
  }

  .navbar-nav li {
    font-size: 1.0rem;
  }

  .arrow-box {
    left: 47% !important;
  }

  .loader {
    top: 35%;
    left: 40%;
    width: 360px;
    height: 360px;
  }

  .form-buttons {
    font-size: 1.5rem;
  }

  .form-control {
    font-size: 1.5rem;
  }


  .btn-outline-success {
    background-color: white;
    color: rgb(0, 162, 255);
    border-color: rgb(0, 162, 255);
  }

  .btn-outline-success:hover {
    background-color: rgb(0, 162, 255);
    color: white;
    border-color: rgb(0, 162, 255);
  }

  .navbar-vertical-language {
    opacity: 1;
    height: auto;
    
  }
  
  .language-item {
    padding-left: 32px;
    margin-bottom: 0px;
    margin-top: 0;
  }

  .hr-navigation {
    margin-left: 0px;
  }

}


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  .loader {
    top: 35%;
    left: 40%;
    width: 360px;
    height: 360px;
    background-image: url(/images/loader.svg);
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-nav li {
    font-size: 1.5rem;
    margin-right: 50px;
  }

}
