/***********************************************
  Bootstrap navbar
***********************************************/



/**********************************************
  Main css
**********************************************/

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
}

header {
}

.navbar {
}

.navbar, .navbar-expand-lg {
  background-color: black;
}

.navbar-brand:link {
  color: white;
}

.navbar-brand:visited {
  color: white;
}

.navbar-brand:hover {
  color: gray;
}

.nav-link {
  color: rgb(0, 162, 255);
  text-decoration: none;
}

.nav-link:visited {
  color: rgb(0, 162, 255);
}

.nav-link:hover {
  color: rgb(0, 100, 158);
}

/*
.nav-link active {
  color: white !important;
}
*/
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(173, 173, 173);
}

#backgound-image {
  width: 100%;
  height: auto;
}



/********************************
  footer
********************************/

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}