/**********************************************
  Kettenbeil.com
  main.css
**********************************************/

body {
  font-family: sans-serif;
  line-height: 1.5;
}


/********************************************
* Preloader
*********************************************/

.loader-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1021;
}

.loader {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 160px;
  height: 160px;
  background-image: url(/images/loader_small.svg);
  background-repeat: no-repeat;
  z-index: 1022;
  -webkit-animation: fadein 2s infinite;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s infinite;
}

@keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/***********************************************
  Navbar
***********************************************/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navbar, .navbar-expand-lg {
  background-color: black;
}

.navbar-brand {
  font-size: 1.8rem;
}

.navbar-brand:link {
  color: white;
}

.navbar-brand:visited {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

.brand-name {
  color: rgb(0, 162, 255);
}

.brand-logo {
  padding-bottom: 12px;
}

.nav-link {
  color: rgb(0, 162, 255);
  text-decoration: none;
}

.nav-link:visited {
  color: rgb(0, 162, 255);
}

.nav-link:hover {
  color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(173, 173, 173);
}

.navbar-toggler {
  color: rgb(0, 162, 255);
  border: solid rgb(0, 162, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%280, 162, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar-nav li {
  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 15px #8e54e9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-nav li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}

.navbar-nav li:hover::after {
  width: 100%;
  height: 1px;
  background-color: rgb(0, 162, 255);
}


/*******************************************************
  Home (Background)
*******************************************************/

#video-wrapper {
  background: url(/images/backgrounds/background.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -2;
}

video {
  display: inline;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: .6;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.video-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-left {
  position: fixed;
  top: 50%;
  left: 1%;
  color: white;
  z-index: 3;
}

.arrow-right {
  position: fixed;
  top: 50%;
  right: 1%;
  color: white;
  z-index: 3;
}

.arrow-box {
  position: absolute;
  bottom: 2%;
  left: 36%;
  text-align: center;
}

.arrow-link {
  color: white 
}

.arrow-name {
  color: white;
  font-size:large;
  text-decoration: none;
}

.home-examples {
  font-size: 2.5rem;
  text-align: center;
  color: black;
  background-color: #21b2a6;
  margin: 10px 0;
}

.logo-text {
}

.photo-text {
  margin-bottom: 0px;
}

.sketches-text {
}

.home-title {
  background-color: rgb(0, 162, 255);
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  color: white;
  margin-bottom: 0px;
}

.home-border {
  border: 1px solid black;
}


/********************************
  footer
********************************/

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}