<section>
    <div class="row footer-row">
        <div class="col-lg-3"></div>
        <div class="col-sm-12 col-lg-2">
            Logo
        </div>
        <div class="col-sm-12 col-lg-2">
            <h3 class="footer-head">Sitemap</h3>
            <ul>
                <li><a href="logos">Logos</a></li>
                <li><a href="sketches">Sketches</a></li>
                <li><a href="fotos">Fotos</a></li>
                <li><a href="tutorials">Tutorials</a></li>
                <li><a href="kontakt">Kontakt</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-lg-2">
            <h3 class="footer-head">Social Media</h3>
            <ul>
                <li><a href="git">Github</a></li>
                <li><a href="stack">Stackoverflow</a></li>
                <li><a href="youtube">Youtube</a></li>
                <li><a href="free">FreeCodeCamp</a></li>
                <li><a href="kontakt">Kontakt</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
    </div>
</section>

<div class="footer-imprint col-sm-12 col-lg-8">
    <p>Copyright {{ now.Year }}. All rights reserved. <span><a href="imprint">Imprint</a></span></p>
</div>

