<section class="container-fluid">
    <div class="row footer-row">
        <div class="col-lg-3"></div>

        <div class="col-sm-12 col-lg-2 footer-logo">
            <img src="/images/loader_small.svg">
        </div>
        <div class="col-sm-12 col-lg-2">
            <h3 class="footer-head">Sitemap</h3>
            <ul class="footer-links">
                {{ range site.Menus.main }}
                    <li class="footer-list">
                        <a href="{{ .URL }}">
                            {{ .Name }}
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>

        <div class="col-sm-12 col-lg-2">
            <h3 class="footer-head">Social Media</h3>
            <ul class="footer-links">

                {{ range site.Menus.footer }}
                    <li class="footer-list">
                        <a href="{{ .URL }}">
                            {{ .Name }}
                        </a>
                    </li>
                {{ end }}

            </ul>
        </div>
        <div class="col-lg-3">
    </div>
</section>

<div class="footer-imprint col-sm-12">
    <p class="text-center copy-right">Copyright {{ now.Year }}. All rights reserved. <span class="copy-imprint"><a href="imprint">Imprint</a></span></p>
</div>