<section class="container-fluid">
    <div class="row footer-row">
        <div class="col-lg-3"></div>
        <div class="col-sm-12 col-lg-2 footer-logo">
            <img src="/images/loader_small.svg">
        </div>
        <div class="col-sm-12 col-lg-2">
            <h3 class="footer-head">Sitemap</h3>
            <ul class="footer-links">
                <li class="footer-list"><a href="logos">Logos</a></li>
                <li class="footer-list"><a href="sketches">Sketches</a></li>
                <li class="footer-list"><a href="fotos">Fotos</a></li>
                <li class="footer-list"><a href="tutorials">Tutorials</a></li>
                <li class="footer-list"><a href="kontakt">Kontakt</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-lg-2">
            <h3 class="footer-head">Social Media</h3>
            <ul class="footer-links">
                <li class="footer-list"><a href="git">Github</a></li>
                <li class="footer-list"><a href="stack">Stackoverflow</a></li>
                <li class="footer-list"><a href="youtube">Youtube</a></li>
                <li class="footer-list"><a href="free">FreeCodeCamp</a></li>
                <li class="footer-list"><a href="kontakt">Kontakt</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
    </div>
</section>

<div class="footer-imprint col-sm-12">
    <p class="text-center copy-right">Copyright {{ now.Year }}. All rights reserved. <span class="copy-imprint"><a href="imprint">Imprint</a></span></p>
</div>